
*{
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    text-decoration: black;
    font-family:'Poppins';
}

#navbar-border {
    border-bottom: 1px solid rgb(25, 27, 25);
    background-color: rgb(255, 250, 249);
  }

  
  .navbar {
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid rgb(0, 0, 0);
  }
  
  #intro {
    text-align: start;
    font-size: small;
  }


  #carousel {
    height: 10px;
    width: 10px;
    border: rgb(8, 8, 8) 2px solid;
    border-radius: 100%;
  }


  #chat-messages {
    border: rgb(0, 0, 0) 1px solid;
    height: 40vh;
    border-bottom: none;
    overflow-y: scroll;
  }

  #chat-box {
    border: rgb(0, 0, 0) 1px solid;
    min-height: fit-content;
  }

  #chat-submit {
    height: 60px;
  }

  #chat-color:nth-child(even) {
    background-color: rgba(8, 62, 115, 0.25);
    direction: rtl;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    text-indent: 10px;
  }
  
  #chat-color:nth-child(odd) {
    background-color: rgba(32, 196, 221, 0.768);
    direction: ltr;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    text-indent: 10px;
  }

  #footer {
    border-top: 1px solid rgb(0, 0, 0);
  }

